.cart_section{
    position: absolute;
    top: 120px;
    width: 100%;
    height: 100vh;
    font-family: "Titillium Web", sans-serif;
    /* background-color: rgb(245, 239, 239); */
}

.cart_section .cart_container{
    width: 95%;
    margin:0 auto;
    display: flex;
    padding:50px 20px;
}

.cart_container .left_cart{
    flex: .5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left_cart img{
    width:50%;
    margin-bottom: 30px;
}

.left_cart .cart_btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin-right: 80px;
}

.cart_btn button{
    padding: 10px 30px;
    cursor: pointer;
   
}
.cart_btn .cart_btn1{
    width: 155px;
    background-color: white;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
}

.cart_btn .cart_btn1:hover{
    background-color:#030303;
    color: white;
}

.cart_btn .cart_btn2{
    width: 150px;
    background-color: white;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.cart_btn .cart_btn2:hover{
    background-color: #030303;
    color: white;
}

.cart_container .right_cart{
    flex: 0.5;
    border: 1px solid #c4c4c4;
    padding: 20px;
    border-radius: 4px;
}

.right_cart h3{
    font-weight: 500;
    font-size: 23px;
    /* margin-bottom: 5px; */
    margin-top: 0;
}

.right_cart h4{
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 15px;
}

.right_cart .mrp{
    margin-top: 10px;
}

.right_cart p{
    color: #565959;
    font-size: 14px;
    margin-bottom: 8px;
}

.discount_box h5{
    color: #B12704;
    font-weight: 500;
    font-size: 16px;
}

.discount_box h4{
    font-size: 15px;
    margin-top: 10px;
    color: #007185;
}

.right_cart .description{
    font-weight: 600;
    color: #111;
    font-size: 16px;
    margin-top: 3px;
}
.button {
    position: relative;
    padding: 1em 1.5em;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    font-size: 18px;
    margin: 1em 0.8em;
  }
  .button.type1 {
    color: black;
  }
  .button.type1.type1::after, .button.type1.type1::before {
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 20%;
    border: 2px solid;
    transition: all 0.6s ease;
    border-radius: 2px;
  }
  .button.type1.type1::after {
    bottom: 0;
    right: 0;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: black;
    border-right-color: black;
  }
  .button.type1.type1::before {
    top: 0;
    left: 0;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: black;
    border-left-color: black;
  }
  .button.type1.type1:hover:after, .button.type1.type1:hover:before {
    width: 100%;
    height: 100%;
  }

/* media query */

@media (max-width:778px){
    .cart_section{
        height: auto;
    }
    .cart_section .cart_container{
      flex-direction: column;
      align-items: center;
    }
    
    .cart_container .left_cart,
    .cart_container .right_cart{
        flex: 1;
    }
    .cart_container .right_cart{
        margin-top: 20px;
    }
}

@media (max-width:500px){
    .cart_btn .cart_btn1,
    .cart_btn .cart_btn2{
        width: 160px;
    }

    
.left_cart .cart_btn{
    justify-content: center;
}
}