.product_deal{
    display: flex;
    justify-content: space-between;
}



.view_btn{
    padding: 9px 15px;
    border: none;
    outline: none;
    background-color: #2874f0;
    color: #fff;
    width: 100px;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}