.product_deal{
    display: flex;
    justify-content: space-between;
}

.product_section{
    padding: 10px 20px;
    width: 98%;
    margin:10px 10px;
    background-color: #fff;
    border-radius: 4px;
}

.home_section .slide_part{
    display: flex;
    align-items: center;
}

.slide_part .left_slide{
    width: 80%;
}

.slide_part .right_slide{
    width: 20%;
    height:360px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background-color: #fff;
    border-radius: 4px;
}

.slide_part .right_slide a{
    color:#007185;
    text-decoration: none;
    text-transform: capitalize;
}

.slide_part .right_slide img{
    height:275px;
    width:90%;
}

.product_deal h3{
    color: #444;
    font-weight: 500;
    font-size: 21px;
}

.view_btn{
    margin: 15px 13px;
    padding: 9px 15px;
    border: none;
    outline: none;
    background-color: #2874f0;
    color: #fff;
    width: 100px;
    height: 35px;
    letter-spacing: 1px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.product_section .product_items img{
    width: 150px;
    height: 150px;
    margin-top: 4px;
}

.product_section .product_items{
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.product_section .product_items p{
    font-size: 14px;
    margin: 5px 0;
}

.center_img img{
    display: block;
    width: 80%;
    margin: 13px auto;
}