.product_deal{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem;
    z-index: 2;
    color: black;

}
.carousel-container{
   padding: 40px;
   color: black;
}
.carousel-item{
    padding: 10px;
    transition:  all .2s;
    border-radius: 10px;
}
.carousel-item:hover{
    transform: scale(1.1);
    z-index: 10;
    box-shadow: 0px 4px 18px -5px rgba(0,0,0,0.55);
}
.carousel-content{
    background: transparent;
    border-radius: 20px;

}
.product_section{
    width: 98%;
    border-radius: 20px;
    box-shadow: 0px 4px 18px -5px rgba(0,0,0,0.2);
    margin-left: 1rem;
}

.home_section .slide_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide_part .left_slide{
    width: 70%;
}

.slide_part .right_slide{
    width: 30%;
    height:450px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    background: transparent;
    margin-left: 1rem;
    margin-right: 1rem;
}

.slide_part .right_slide h4{
    font-family: "Prata", serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 20px;
    border-radius: 20px;
    color: white;
    background: black;
}

.slide_part .right_slide a{
    color:#007185;
    text-decoration: none;
    text-transform: capitalize;
}

.slide_part .right_slide img{
    height:90%;
    width:90%;
    cursor: pointer;
    border-radius: 20px;
    animation: float 3s linear infinite;
}

@keyframes float{
    0%, 100%{
        transform: translateY(-2rem);
    }
    50%{
        transform: translateY(1rem);
    }
}
.product_deal .title{
    color: black;
    font-weight: 700;
    font-size: 40px;
    padding-top: 25px;
    padding-left: 20px;
    text-shadow: 3px 2px 3px rgba(206,206,206,0.44);
    font-family: "Prata", serif;
}

.product_name,.product_offer,.product_explore{
    color: black;
}


.product_section .product_items img{
    width: 175px;
    height: 200px;
    
}

 .product_items{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.image__title {
	font-size: 1rem;
    display: grid;
    place-items: center;
    width: 7rem;
    height: 3rem;
    border: 1px solid black;
    border-radius: 40px;
    color: black;
    transition: all .3s;
}

.image__title:hover{
    background: white;
    border: none;
    color: black;
}

.product_section .product_items p{
    font-size: 14px;
    margin: 5px 0;
}

.center_img img{
    display: block;
    width: 80%;
    margin: 13px auto;
}